@import "~open-color";

$text-primary: $oc-gray-8;
$bg-primary: $oc-gray-0;

$font-stack: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, Roboto, sans-serif;

$spacing: 0.5em;

$line-height: 3 * $spacing;
$small-text: 0.76666666666em;
