// Import normalize.css from node_modules
@import '~normalize.css';

// Import Source Sans Pro to use as main UI typeface
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'vars';

body {
  background: $bg-primary;
  color: $text-primary;
  font-family: $font-stack;
  @include text-body-1;
}
